# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html
[client]
port   = {{ mysql_port }}
socket = {{ mysql_socket }}

[mysqld]
###### General
port                      = {{ mysql_port }}
socket                    = {{ mysql_socket }}
bind_address              = {{ mysql_bind_address }}
pid_file                  = {{ mysql_pidfile }}
datadir                   = {{ mysql_data_dir }}
default_storage_engine    = {{ mysql_default_storage_engine }}
default_password_lifetime = {{ mysql_default_password_lifetime }}
thread_stack              = {{ mysql_thread_stack }}
tmp_table_size            = {{ mysql_tmp_table_size }}
max_heap_table_size       = {{ mysql_max_heap_table_size }}
performance_schema        = {{ mysql_performance_schema }}

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = {{ mysql_symbolic_links }}

# Character
character_set_server = {{ mysql_character_set_server }}
collation_server     = {{ mysql_collation_server }}

# Session
back_log           = {{ mysql_back_log }}
skip_name_resolve  = {{ mysql_skip_name_resolve }}
max_connections    = {{ mysql_max_connections }}
max_connect_errors = {{ mysql_max_connect_errors }}
max_allowed_packet = {{ mysql_max_allowed_packet }}

# Memory
join_buffer_size  = {{ mysql_join_buffer_size }}
sort_buffer_size  = {{ mysql_sort_buffer_size }}
table_open_cache  = {{ mysql_table_open_cache }}
thread_cache_size = {{ mysql_thread_cache_size }}
query_cache_size  = {{ mysql_query_cache_size }}
query_cache_type  = {{ mysql_query_cache_type }}
query_cache_limit = {{ mysql_query_cache_limit }}

###### Log
expire_logs_days = {{ mysql_expire_logs_days }}
log_error        = {{ mysql_log_error }}
log_output       = {{ mysql_log_output }}
log_syslog       = {{ mysql_log_syslog }}
log_timestamps   = {{ mysql_log_timestamps }}

# General Query
general_log      = {{ mysql_general_log }}
general_log_file = {{ mysql_general_log_file }}

# Binary
binlog_format     = {{ mysql_binlog_format }}
binlog_cache_size = {{ mysql_binlog_cache_size }}
log_bin           = {{ mysql_log_bin }}
sync_binlog       = {{ mysql_sync_binlog }}

# Slow Query
slow_query_log      = {{ mysql_slow_query_log }}
slow_query_log_file = {{ mysql_slow_query_log_file }}
long_query_time     = {{ mysql_long_query_time }}

##### Replication
server_id         = {{ mysql_server_id }}
relay_log         = {{ mysql_relay_log }}
slave_net_timeout = {{ mysql_slave_net_timeout }}
log_slave_updates = {{ mysql_log_slave_updates }}
read_only         = {{ mysql_read_only }}
{% if mysql_repl_role is equalto 'backup' %}
log_slave_updates = ON
{% endif %}

##### InnoDB
innodb_buffer_pool_dump_pct = {{ mysql_innodb_buffer_pool_dump_pct }}
innodb_buffer_pool_size     = {{ mysql_innodb_buffer_pool_size }}
innodb_commit_concurrency   = {{ mysql_innodb_commit_concurrency }}
innodb_data_file_path       = {{ mysql_innodb_data_file_path }}
innodb_doublewrite          = {{ mysql_innodb_doublewrite }}
innodb_file_per_table       = {{ mysql_innodb_file_per_table }}
innodb_lock_wait_timeout    = {{ mysql_innodb_lock_wait_timeout }}
innodb_io_capacity          = {{ mysql_innodb_io_capacity }}

# Thread
innodb_read_io_threads    = {{ mysql_innodb_read_io_threads }}
innodb_write_io_threads   = {{ mysql_innodb_write_io_threads }}
innodb_thread_concurrency = {{ mysql_innodb_thread_concurrency }}

# Log
innodb_flush_log_at_timeout    = {{ mysql_innodb_flush_log_at_timeout }}
innodb_flush_log_at_trx_commit = {{ mysql_innodb_flush_log_at_trx_commit }}
innodb_flush_method            = {{ mysql_innodb_flush_method }}
innodb_max_dirty_pages_pct     = {{ mysql_innodb_max_dirty_pages_pct }}
innodb_log_buffer_size         = {{ mysql_innodb_log_buffer_size }}
innodb_log_file_size           = {{ mysql_innodb_log_file_size }}
innodb_log_files_in_group      = {{ mysql_innodb_log_files_in_group }}

##### MyISAM
bulk_insert_buffer_size   = {{ mysql_bulk_insert_buffer_size }}
key_buffer_size           = {{ mysql_key_buffer_size }}
read_buffer_size          = {{ mysql_read_buffer_size }}
read_rnd_buffer_size      = {{ mysql_read_rnd_buffer_size }}
myisam_repair_threads     = {{ mysql_myisam_repair_threads }}
myisam_sort_buffer_size   = {{ mysql_myisam_sort_buffer_size }}
myisam_max_sort_file_size = {{ mysql_myisam_max_sort_file_size }}

[mysqldump]
quick
max_allowed_packet = {{ mysql_dump_max_allowed_packet }}
