{{ nginx_log_dir }}/*.log {
    daily
    missingok
    rotate 7
    compress
    dateext
    notifempty
    create 0644 {{ nginx_user }} {{ nginx_group }}
    sharedscripts
    postrotate
        [ -f {{ nginx_pidfile }} ] && kill -USR1 `cat {{ nginx_pidfile }}`
    endscript
}
