{
  "template": "{{ elasticsearch_path_template }}",
  "mappings": {
    "_default_": {
      "properties": {
        "path": {
          "type": "string",
          "index": "not_analyzed"
        }
      }
    }
  }
}