{
  "influxdb-extension": {
    "hostname": "{{ sensu_influxdb_hostname }}",
    "port": "{{ sensu_influxdb_port }}",
    "username": "{{ sensu_influxdb_username }}",
    "password": "{{ sensu_influxdb_password }}",
    "database": "{{ sensu_influxdb_database }}",
  }
}